{% extends 'shared/base.html' %}
{% block title %}Change Password | {{ user.username }} | Website Name{% endblock %}
{% block body %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'header.html' %}
{% include 'sidebar.html' %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Change Password</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                                <li class="breadcrumb-item active">Change Password</li>
                            </ol>
                        </div>
                        
                    </div>
                </div>
            </div>     
            <!-- end page title -->

            <div class="row">
        <div class="col-sm-3"><!--left col-->
              <form class="form" method="post" id="registrationForm">
                    {% csrf_token %}

        </div><!--/col-3-->
        <div class="col-sm-9">

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-warning text-center">
                                    {{ message|escape }}
                                </div>
                            {% else %}
                                <div class="alert alert-success text-center">
                                    {{ message|escape }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="old_password" class="col-lg-3 col-form-label">Enter Current Password</label>
                                <div class="col-lg-9">
                                    <input id="old_password" name="old_password" type="password" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="new_password1" class="col-lg-3 col-form-label">New Password</label>
                                <div class="col-lg-9">
                                    <input id="new_password1" name="new_password1" type="password" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="new_password2" class="col-lg-3 col-form-label">Confirm New Password</label>
                                <div class="col-lg-9">
                                    <input id="new_password2" name="new_password2" type="password" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Update Password</button>
                            </div>
                      </div>
                </form>
              
              <hr>
              
             </div><!--/tab-pane-->
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include 'footer.html' %}
</div>
<!-- end main content-->
<script type="text/javascript">

</script>
</div>
{% endblock %}





















{% block mainmain %}
<style>
  #main, .dashboard, .sidebarr{
    display: none;
  }
</style>
  
{% endblock mainmain %}




{% block main %}

<style>
label{
    font-weight: bolder;
    margin-left: 7%;    
    float: left;
}
 #registerform{
    position: relative;
    margin: 1rem auto;
    width: 60%;
    height: 500px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #cb26e0;
    overflow: hidden;
    border-radius: 10%;
}
.button-box{
    width: 30%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* box-shadow: 0 0 10px 5px yellowgreen; */
    background:linear-gradient(to right, #cb26e0, #0fffdf, grey) ;
    /* border: 0; */
    /* outline: none; */
    border-radius: 30px;
}
.acct input{
    padding-left: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto 5px;
    width: 90%;
}
.accthead{
  text-align: center;
  /* background-color: thistle; */
  padding-bottom: 5px;
}



 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 768px) {     

}

</style>

<div class="col s12 m8 offset-m1" id="registerform">
  
    <h4 class="accthead">Change Password</h4>
    <form action="{% url 'change_password' %}" method="POST" class="acct">
      {% csrf_token %}
      {{form.as_p}}
      <p>
        <input class="btn button-box" type="submit" value="Change Password">
      </p>
    </form>
  
</div>

{% endblock main %}
